@page "/"

<PageTitle>Главная страница</PageTitle>

<h3>Добро пожаловать в TeamProfit!</h3>

<p>Перейдите к одной из страниц:</p>

<NavLink class="btn btn-primary" href="/register">Регистрация</NavLink>

<NavLink class="btn btn-primary" href="/login">Авторизация</NavLink>

<NavLink class="btn btn-secondary" href="/tree">Дерево</NavLink>
