@page "/tree"
@inject TreeService TreeService					// 
@using System.Net.Http.Headers					<!--  Для удобной работы с JSON через HttpClient -->
@using Microsoft.AspNetCore.Components.Web		<!--  Для работы с событиями мыши -->
@using BlazorApp.Components						<!-- Подключаем папку Components -->
@using static BlazorApp.Components.ModalDialog	<!--  Для работы с результатом модального окна -->
@using BlazorApp.Model							<!--  Подключаем папку Model -->

<!-- Заголовок Страницы-->
<html>
<!-- <head> - Представляет набор методанных документа -->
<head>
    <meta charset="UTF-8"> <!-- Устанавливаем кодировку страницы как UTF-8 (поддержка кириллицы и других символов) -->
    <title>Иерархическое дерево</title> <!-- Название страницы, отображается во вкладке браузера -->
    <!-- Стли -->
    <style>
        /* Стили для заголовка страницы */
        .page-title {
            text-align: center;     /* Выравниваем текст по центру */
            font-size: 24px;        /* Устанавливаем размер шрифта — 24 пикселя */
            margin-top: 20px;       /* Отступ сверху — 20 пикселей */
        }
    </style>
</head>
<!-- Первый блок - Заголовок->
<Heading>
    <!-- Заголовок страницы с применением CSS-класса page-title -->
    <h1 class="page-title">Иерархическое дерево</h1>
</Heading>

</html>

@code {

}
